.chat-window-main {
  display: grid;
  grid-template-columns: 2fr 6fr;
  width: 100%;
  height: 100%;
  gap: 2px;
}

.sidebar {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2px;
}

.private-conversation {
  display: grid;
}