:root {
  --color-primary: #129990;
  --color-secondary: #90D1CA;
  --color-background: #fff;
  --color-text: #096B68;
}

/* :root {
  --color-primary: #FFD966;
  --color-secondary: #129990;
  --color-background: #F5F7FA;
  --color-text: #1C3A3E;
} */

